###########################################################
# Required values for proper package functionality.
# Additional values can be added here to used in LDIF
# templates as desired.
host: ldap://localhost
binddn: cn=Manager,dc=example,dc=com
binddn_pass:  # leave blank to prompt for password
peopledn: ou=People,dc=example,dc=com
groupdn: ou=Group,dc=example,dc=com
uidstart: 10000
gidstart: 10000
homedir: /home
